div.abcjs-widget-container {
    max-width: var(--staff-max-width, none);
    overflow-x: auto;
}

div.abcjs-widget-container.debug {
    color: forestgreen;
    border: 1px solid forestgreen;
}

div.music {
    /* ABCJS seems to set `overflow: hidden` on the music div,
       which prevents the container's auto overflow from working. */
    overflow: visible !important;
}

div.music.debug {
    border: 1px dashed grey;
}

div.abcjs-widget-container code {
    white-space: pre-wrap;
}
